
* {
    margin: 0;
    padding: 0;
    /* this will allow you to width/height will get from
    the padding and margin */
    box-sizing: border-box; 
}

header {
    width: 60%;
    background-color: black;
    color: white;

    margin: 0 auto;
    padding: 10px;
}

.feed {
    width: 60%;
    margin: 0 auto;
    padding: 10px;

    text-align: center;
    
}

.mainContent {
    width: 60%;
    margin: 0 auto;
    

    display: flex;
    align-items: top;
    justify-content: space-around;
    gap: 20px;

    /* border: 1px solid black; */

    
}

/* col1 start */
.col1 {
    flex: 1;

    height: 200px;
    border: 3px solid black;
    padding-top: 10px;

    text-align: center;


}

.col1 img {
    width: 60px;
}

.col1 .gapVertical {
    margin: 10px;
}

/* col1 ends */

.col2 {
    flex: 4;
}

/* user container start */
.userContainer {
    /* width: 500px; */
    /* height: 150px; */
    border: 3px solid black;

    margin: 0 auto;
    padding: 20px 30px;

    margin-bottom: 10px;
}

.upperUserNameLikes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;
}

.likeContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px
}

.likeBtn {
    background-color: #ffd966;
    box-shadow: 3px 3px black;
    padding: 0.2rem 0.4rem;
}
/* user container end */